.navbar-title {
    font-size: 25px;
    font-weight: 600;
}

.navbar-logout{
    // float: right !important;
    position: absolute !important;
    right: 10px !important;
    font-size: larger;
}



