.user-container {
    display: flex;
}

.user-item {
    width: 50%;
}

.user-form-login {
    width: 30%;
    margin-top: 55px;
    margin-left: 115px !important;
}

.user-form-register {
    width: 30%;
    margin-top: 5px;
    margin-left: 115px !important;
}

.user-form-image {
    width: 80%;
    margin-top: 115px;
    margin-left: 130px !important;
}

.user-form-ticket {
    width: 40%;
    margin-left: 100px;    
}

.user-form-title {
    font-size: $font-size-large;
}

.user-form-hr {
    border: 1px solid lighten($color: #000000, $amount: 90%);
    margin : $font-size-large 0;
}

.user-form-account-text {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

// .user-button {
//     font-size: $s-size !important;
//     height: 40px !important;
//     text-align: center;
//     display: inline-block;
// }

label {
    font-size: 18px !important;
}

// .ant-form-item-required {
//     padding: 5px !important;
//     background-color: aqua !important;
// }
// .ant-col ant-col-8 ant-form-item-label css-dev-only-do-not-override-1km3mtt {
//     padding: 2px !important;
//     background-color: #000000 !important;
// }