.button-submit {
    font-size: $s-size !important;
    height: 45px !important;
    text-align: center;
    // display: inline-block;
    background-color: #0d6efd !important;
    // padding: 10px;
    color: white;
    margin: 10px 5px;
}